.product-tile{
    max-width: 300px;
    border: gray;
    border-radius: 5px;
    display: inline-block;
}

.product-image{
    max-width:250px;
    margin-left: auto;
    margin-right: auto;

}

.product-name{
    text-align: center;
}

.product-price{
    text-align: center;
}