$side_col_width: 200px;

html, body {
    margin: 0;
    padding: 0;
}

.small_logo{
    width: 50px;
    height: auto;
}

#maintenance_message {
    position: absolute;
    width: 250px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: +1;
    text-align: center;
}

.clearfix {
    clear: both;
}

header {
    padding-bottom: 15px;
    border-top: 4px solid #606060;
    border-bottom: 4px solid #606060;
}

header h1 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header > .title {
    display: inline-block;
    color: #3771A1;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

header img {
    vertical-align: middle;
    margin-right: 24px;
}



main {
    position: relative;
    margin: 0;
    padding: 0px;
    

    #site_left{
        background-color: navy;
        position: absolute; 
        left: 0;
        top: 0;
        width: 350px;   
        min-height: 100%;
        color: white;
    }

    #site_right{
        position: absolute;
        right: 0;
        top: 0;
        width: 350px;
        height: 100%;
    }

    #site_center{
        margin-left: 350px;
        height: 100%;
        position: relative;
    }
}

footer {
    position: fixed;
    bottom:0;
    text-align: right;
    width:100%;
    background-color: #FFFFFF;
}

.footer_text{
    text-align: center;
}
