<%inherit file="/homepage/templates/base.htm" />

<%block name="content">
    <div class="content">
        <h3>Here are the Doctors!</h3>
    </div>

    <div id="catalog">
    <table>
        <tr>
            <th>Doctor ID</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
        %for doctor in doctors:
            <span class="product-container" data-product-id="${ doctor.doctorID }"></span>
            <tr>
                <td>${ doctor.doctorID }</td>
                <td>${ doctor.fName } ${ doctor.lName }</td>
                <td><a href="/prescribers/details/${doctor.doctorID}">Details</a><td>
            </tr>
        %endfor

    </table>
    </div>
</%block>

<%block name="right_content">
    <br>
    <h3>Doctor Search</h3>
    <br>
    <form method="POST">
        <table>
            ${ form.as_table() }
        </table>
        <input type="submit" value="Search"> 
    </form>
</%block>