<%inherit file="/homepage/templates/base.htm" />

<%block name="content">
    <div class="content">
        
    </div>

    <div id="catalog">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Doctor ID</th>
                <th scope="col">Name</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <% i = 1 %>
            %for doctor in doctors:
                <span class="product-container" data-product-id="${ doctor.doctorID }"></span>
                <tr>
                    <td>${ doctor.doctorID }</td>
                    <td>${ doctor.fName } ${ doctor.lName }</td>
                </tr>
                <% i += 1 %>
            %endfor
        </tbody>
    </table>
    </div>
</%block>

<%block name="right_content">
    <br>
    <h3>Doctor Search</h3>
    <br>
    <form method="POST">
        <input type="submit" class="btn btn-primary" value="Search"> 
    </form>
</%block>