<%inherit file="app_base.htm" />

<%block name="content">

    <table style="width:100%">
        <tr>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Extended</th>
            <th>Actions</th>
        </tr>
        %for i in si:
            <tr>
                <td><img src="${i.product.image_url()}" height="50px" alt=""></td>
                <td>${i.product.name}</td>
                <td>${i.quantity}</td>
                <td>${i.product.price}</td>
                <td>${i.product.price*i.quantity}</td>
            </tr>
        %endfor
            <tr>
                <td></td>
                <td>Tax</td>
                <td></td>
                <td></td>
                <td>$${cart.tax}</td>
            </tr>
    <table>
    <a class="btn btn-success" href="/catalog/checkout/">Checkout</a>
</%block>