<%inherit file="app_base.htm" />

<%block name="content">
  <div>
    %for i in images:
        <img class="thumbnail" src='${i}'>
    %endfor
    <img class="main-image" src=${images[0]}>
    <div class="product-name">${product.name}</div>
    <div class="product-price">Price: ${product.price}</div>
    <div class="product-description">Description: ${product.description}</div>

  <form  method="post">
    <table>
      ${ form.as_table() } 
    </table>
    <input type="submit" value="Submit">
  </form>
  </div>
<div><br><br></div>

</%block>

