<%inherit file="/homepage/templates/base.htm" />

<%block name="content">
    <div class="content">
        <h3>Drug Details</h3>
        <div class="doctor-name">${drug.drugName}</div>

        <table>
            <tr>
                <th>Name</th>
                <th>Opioid (T/F)</th>
            </tr>
            <tr>                
                <td>${drug.drugName}</td>
                <td>${ 'T' if drug.isOpioid == 1 else 'F' }</td>
            </tr>
        </table>
        <br>
        <br>
        <br>
        <h3>Top Prescribers of ${drug.drugName}</h3>
        <table>
            <tr>
                <th>Doctor ID</th>
                <th>Ammount Prescribed</th>
            </tr>
            %for x in range(10):
                <tr>                
                    <td>${doctors[x].doctorID_id}</td>
                    <td>${doctors[x].quantity}</td>
                </tr>
            %endfor
        </table>
    </div>
</%block>