<%inherit file="app_base.htm" />
<%! from homepage import models as hmod %>

<%block name="content">
    <div class="content">
        
    </div>
    <div id="catalog">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Drug Name</th>
                <th scope="col">Opioid(T/F)</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            %for d in drugs:
                <tr>
                    <td>${ d.drugName }</td>
                    <td>${ 'T' if d.isOpioid == 1 else 'F' }</td>
                    <td><a href="/drugs/details/${d.id}">Details</a><td>
                </tr>
            %endfor
        </tbody>
    </table>
    </div>
</%block>

<%block name="right_content">
    <form method="POST">
        <table>
            ${ form.as_table() }
        </table>
        <input type="submit" value="Search"> 
    </form>
</%block>
