## this is the skeleton of all pages on in this app - it defines the basic html tags
<%! import datetime  %>
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <link rel="icon" href="${ STATIC_URL }homepage/media/circle.jpg">
        <title>OTF &mdash; <%block name="title"></%block></title>

        ## add any site-wide scripts or CSS here; for example, jquery:
        <script src="${ STATIC_URL }homepage/media/jquery-3.3.1.js"></script>
        <script src="${ STATIC_URL }homepage/media/js/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="${ STATIC_URL }homepage/media/css/bootstrap.css">

        ## render the static file links with the same name as this template
        ##help  with this one! Does it need the static url?
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }

    </head>

    <body>
        ## <div id="maintenance_message" class="alert alert-danger">The site is going down tonight. I know... Shucks</div>
        <header>
            <div class="title">
                <img src="${ STATIC_URL }homepage/media/otflogo.png" alt="Opioid Task Force Logo">
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <img class="small_logo" src="${ STATIC_URL }homepage/media/circle.jpg" alt="logo" />
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item ${ 'active' if request.dmp.page == 'index' else ''}">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ${ 'active' if request.dmp.page == '/prescribers/Index' else ''}">
                        <a class="nav-link" href="/prescribers/">Prescribers</a>
                    </li>
                    <li class="nav-item ${ 'active' if request.dmp.page == '/drugs/index/' else ''}">
                        <a class="nav-link" href="/drugs/">Drugs</a>
                    </li>
                    <li class="nav-item ${ 'active' if request.dmp.page == 'index' else ''}">
                        <a class="nav-link" href="/homepage/dashboard/">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ${ 'active' if request.dmp.page == 'index' else ''}">
                        <a class="nav-link" href="/homepage/map/">Map <span class="sr-only">(current)</span></a>
                    </li>
                    <%block name="navbar_items">                    
                    </%block>
                    %if not request.user.is_authenticated:
                        <li class="nav-item ${ 'active' if request.dmp.page == 'login' else ''}"><a class="nav-link" href="/account/login/">Login</a></li>
                    % endif

                    %if request.user.is_authenticated:
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Cart</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="/account/logout/">Log Out</a>
                            </div>
                        </li>
                    %endif
                    </ul>
                </div>
            </nav>
            

        </header>

        <main>
            <div id="site_left">
                <%block name="left_menu">
                </%block>
            </div>
            <div id="site_center">
                <%block name="content">

                </%block>
            </div>
            <div id="site_right">
                <%block name="right_content">

                </%block>
            </div>
        </main>

        <footer>
           <div class="footer_text">
            Copyright &copy; ${ datetime.datetime.today().year } PACK Consulting  
            </div>     
        </footer>

    </body>
</html>
