<%inherit file="app_base.htm" />

<%block name="title">Homepage</%block>

<%block name="content">
    <div class="content">
      <h3>Welcome, Jedi</h3>
      <h4>I bet you can't guess which Jedi wrote the text below!</h4>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/cED1NnOpEJ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>I have a 10 year old son. He has words. He is so good with these words it's unbelievable. He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured. I think the only difference between me and the other placeholder text is that I’m more honest and my words are more beautiful.</p>
      <p>Lorem Ipsum better hope that there are no "tapes" of our conversations before he starts leaking to the press! I think the only card she has is the Lorem card.</p>
      <p>Lorem Ipsum better hope that there are no "tapes" of our conversations before he starts leaking to the press!</p>
      <p>The other thing with Lorem Ipsum is that you have to take out its family.<p>
      <p>Lorem Ipsum's father was with Lee Harvey Oswald prior to Oswald's being, you know, shot. It’s about making placeholder text great again. That’s what people want, they want placeholder text to be great again. Trump Ipsum is calling for a total and complete shutdown of Muslim text entering your website. He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured.</p>
    </div>
</%block>